
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 100px; text-align: center">
    <img src="~/Content/images/logo.png" /><br />
    <p><h1>Thank you! Your order was confirmed!</h1></p><br />
    <p><h3>All the details were send to your e-mail</h3></p>
</div>