@model ShopSite.ViewModels.OrderSendEmail
Content-Type: text/html; charset=utf-8

<html>
<body>
    <div class="jumbotron">
        @Html.EmbedImage("~/content/Images/logo.png")
        <p>Thank you!</p>
        <p>Your order nr @Model.OrderNumber was send.</p>
        <p>Have a good day!</p>
    </div>
</body>
</html>
