
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<div class="container">
    <div class="product">
        <h2 class="new">Category</h2>
        <div class="pink">
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="pink">
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="pink">
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="col-md-3 box-in-at">
                <div class=" grid_box portfolio-wrapper">
                    <a href="single.html"> <img src="~/Content/images/milk.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="grid_1 simpleCart_shelfItem">
                    <a href="#" class="cup item_add"><span class=" item_price">45 $ <i> </i> </span></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
